.pageLayout {
	padding: 80px 0 58px 0;
}

.timersGroup {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}

@media screen and (min-width: 768px) {
	.pageLayout {
		padding: 92px 0 49px 0;
	}
	.timersGroup {
		flex-direction: row;
		justify-content: center;
		column-gap: 32px;
	}
}

@media screen and (min-width: 1280px) {
	.pageLayout {
		padding: 100px 0 40px 0;
		display: grid;
		grid-template-areas: 'main goal';
		grid-template-columns: 928px auto;
		column-gap: 32px;
	}
	.rightColumn {
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		grid-area: goal;
	}
	.leftColumn {
		grid-area: main;
	}
}
