/* Common Styles */
.fieldWrapper,
.libraryFieldWrapper {
	position: relative;
}

/* Register and Login Field */

.authLabel {
	display: block;
	font-weight: 600;
	font-size: 14px;
	color: #fff;
	margin-bottom: 8px;
	sup {
		color: #f25137;
	}
}

.authfield {
	width: 100%;
	height: 42px;
	padding-left: 8px;
	outline: transparent;
	border: transparent;
	box-shadow: inset 0 1px 2px 0 rgba(29, 29, 27, 0.15);
	background-color: #f5f7fa;
	&::placeholder {
		font-weight: 400;
		font-size: 14px;
		color: #a6abb9;
	}
}

@media screen and (min-width: 768px) {
	.authfield {
		padding-left: 12px;
	}
	.authLabel {
		font-weight: 500;
		color: #898f9f;
	}
}

@media screen and (min-width: 1280px) {
	.authfield {
		padding-left: 12px;
	}
}

/* Library Field */
.libraryLabel {
	display: block;
	font-weight: 500;
	font-size: 14px;
	color: #898f9f;
	margin-bottom: 8px;
}

.libraryField {
	font-weight: 400;
	font-size: 14px;
	color: #242a37;
	width: 100%;
	height: 42px;
	padding-left: 12px;
	outline: transparent;
	border: 1px solid #a6abb9;
	box-shadow: inset 0 1px 2px 0 rgba(29, 29, 27, 0.15);
	background-color: transparent;
	transition: box-shadow 250ms linear, background-color 250ms linear,
		border-color 250ms linear;
	&:focus {
		border-color: transparent;
		box-shadow: inset 0 1px 2px 0 rgba(29, 29, 27, 0.15);
		background-color: #ffffff;
	}
	&::placeholder {
		font-weight: 400;
		font-size: 14px;
		color: #242a37;
	}
}

@media screen and (min-width: 768px) {
	.libraryFieldWrapper:nth-child(1) {
		grid-column: 1 / -1;
	}
	.libraryFieldWrapper:nth-child(2) {
		grid-column: 1;
	}
	.libraryFieldWrapper:nth-child(3) {
		grid-column: 2;
	}
	.libraryFieldWrapper:nth-child(4) {
		grid-column: 3;
	}
}

@media screen and (min-width: 1280px) {
	.libraryFieldWrapper:nth-child(1) {
		grid-column: 1;
	}
	.libraryFieldWrapper:nth-child(2) {
		grid-column: 2;
	}
	.libraryFieldWrapper:nth-child(3) {
		grid-column: 3;
	}
	.libraryFieldWrapper:nth-child(4) {
		grid-column: 4;
	}
}

/* resultsPanelLabel */

.resultsPanelLabel {
	display: block;
	font-weight: 500;
	font-size: 11px;
	color: #898f9f;
	margin-bottom: 4px;
}

.resultsField {
	width: 100%;
	max-width: 110px;
	height: 42px;
	padding-left: 13px;
	border: 1px solid #a6abb9;
	background-color: #f6f7fb;
}
