.panelWrapper {
	box-shadow: 0 2px 3px 0 rgba(9, 30, 63, 0.1);
	background: #fff;
}

.resultsWrapper {
	padding: 20px 20px 22px 20px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
	.goalToReadWrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 20px 52px 8px 28px;
	}
	.resultsWrapper {
		padding: 28px 96px 32px 96px;
	}
}
