.item {
	display: grid;
	grid-template-columns: 22px auto;
	column-gap: 12px;
	padding: 20px 20px 28px 20px;
	box-shadow: 0 2px 3px 0 rgba(9, 30, 63, 0.1);
	background-color: #fff;
}

.detailsWrapper {
	width: 100%;
}

.icon {
	width: 22px;
	height: 22px;
	color: #a6abb9;
}

.iconFinished {
	color: #6d7a8d;
}

.iconReading {
	color: #ff6b08;
}

.emptyIcon,
.fillIcon {
	width: 17px;
	height: 17px;
}

.fillIcon {
	color: #ff6b08;
}

.title {
	display: block;
	font-weight: 500;
	font-size: 12px;
	color: #242a37;
	max-width: 210px;
	margin-bottom: 12px;
}

.infoList {
	display: grid;
	row-gap: 14px;
}

.infoRow {
	display: grid;
	grid-template-columns: 81px auto;
}

.description {
	font-weight: 500;
	font-size: 12px;
	color: #242a37;
	max-width: 125px;
}

.label {
	font-weight: 500;
	font-size: 12px;
	color: #898f9f;
}

@media screen and (min-width: 768px) {
	.item {
		height: 62px;
		padding: 0 20px;
		column-gap: 18px;
		align-items: center;
	}
	.title {
		max-width: 270px;
		font-size: 14px;
		margin: 0;
	}
	.titleFinished {
		max-width: 140px;
	}
	.infoRow {
		grid-template-columns: auto;
	}
	.description {
		font-size: 14px;
		max-width: 168px;
	}
	.descriptionFinished {
		max-width: 100px;
	}
	.label {
		display: none;
	}
	.detailsWrapper,
	.detailsFinished {
		display: grid;
		grid-template-columns: 308px auto;
		align-items: center;
	}
	.detailsFinished {
		grid-template-columns: 156px auto;
	}
	.infoList {
		grid-template-columns: 210px 75px auto;
		align-items: center;
	}
	.infoListFinished {
		grid-template-columns: 123px 71px 65px auto;
	}
	.ratingWrapper {
		display: flex;
		align-items: center;
		column-gap: 32px;
	}
}

@media screen and (min-width: 1280px) {
	.title {
		max-width: 500px;
	}
	.titleFinished {
		max-width: 260px;
	}
	.detailsWrapper {
		grid-template-columns: 580px auto;
	}
	.detailsFinished {
		grid-template-columns: 301px auto;
	}
	.description {
		max-width: 300px;
	}
	.descriptionFinished {
		max-width: 235px;
	}
	.infoList {
		grid-template-columns: 385px 115px auto;
	}
	.infoListFinished {
		grid-template-columns: 265px 107px 149px auto;
	}
	.ratingWrapper {
		column-gap: 60px;
	}
}
