.item,
.planningItem {
	display: grid;
	grid-template-columns: 22px auto;
	column-gap: 12px;
}

.item {
	padding: 20px 20px 28px 20px;
	box-shadow: 0 2px 3px 0 rgba(9, 30, 63, 0.1);
	background-color: #fff;
}

.planningItem {
	position: relative;
	padding: 10px 0;
	background-color: transparent;
	border-bottom: 1px solid #e0e5eb;
}

.defaultDetailsWrapper {
	width: 100%;
}

.defaultIcon {
	width: 22px;
	height: 22px;
	color: #a6abb9;
}

.iconFinished {
	color: #6d7a8d;
}

.iconReading {
	color: #ff6b08;
}

.emptyIcon,
.fillIcon {
	width: 17px;
	height: 17px;
}

.fillIcon {
	color: #ff6b08;
}

.defaultTitle {
	display: block;
	font-weight: 500;
	font-size: 12px;
	color: #242a37;
	max-width: 210px;
	margin-bottom: 12px;
}

.defaultInfoList,
.finishedInfoList,
.planningInfoList {
	display: grid;
	row-gap: 14px;
}

.infoRow {
	display: grid;
	grid-template-columns: 81px auto;
}

.defaultAuthor {
	font-weight: 500;
	font-size: 12px;
	color: #242a37;
	max-width: 125px;
}

.label {
	font-weight: 500;
	font-size: 12px;
	color: #898f9f;
}

.emptySpan {
	font-weight: 500;
	font-size: 14px;
	color: #242a37;
}

@media screen and (min-width: 768px) {
	.item {
		height: 62px;
		padding: 0 20px;
		column-gap: 18px;
		align-items: center;
	}

	.planningItem {
		height: 62px;
		padding: 0;
		column-gap: 12px;
		align-items: center;
		&:first-child {
			border-top: none;
		}
		&:last-child {
			border-bottom: none;
		}
	}

	.defaultTitle {
		max-width: 270px;
		font-size: 14px;
		margin: 0;
	}

	.titleFinished {
		max-width: 140px;
	}

	.infoRow {
		grid-template-columns: auto;
	}

	.authorFinished {
		font-size: 14px;
		max-width: 168px;
	}

	.defaultAuthor {
		font-size: 14px;
		max-width: 100px;
	}

	.label {
		display: none;
	}

	.defaultDetailsWrapper,
	.finishedDetailsWrapper,
	.planningDetailsWrapper {
		display: grid;
		align-items: center;
	}

	.defaultDetailsWrapper {
		grid-template-columns: 308px auto;
	}

	.planningDetailsWrapper {
		grid-template-columns: 246px auto;
	}

	.finishedDetailsWrapper {
		grid-template-columns: 156px auto;
	}

	.defaultInfoList {
		grid-template-columns: 210px 75px auto;
		align-items: center;
	}

	.finishedInfoList {
		grid-template-columns: 123px 71px 65px auto;
	}

	.planningInfoList {
		align-items: center;
		grid-template-columns: 212px 103px 70px auto;
	}

	.ratingWrapper {
		display: flex;
		align-items: center;
		column-gap: 32px;
	}
}

@media screen and (min-width: 1280px) {
	.planningItem {
		height: 18px;
		border: none;
	}

	.defaultTitle {
		max-width: 500px;
	}

	.titleFinished {
		max-width: 260px;
	}

	.defaultDetailsWrapper {
		grid-template-columns: 580px auto;
	}

	.finishedDetailsWrapper {
		grid-template-columns: 301px auto;
	}

	.planningDetailsWrapper {
		grid-template-columns: 354px auto;
	}

	.authorFinished {
		max-width: 300px;
	}
	.defaultAuthor {
		max-width: 235px;
	}
	.defaultInfoList {
		grid-template-columns: 385px 115px auto;
	}
	.finishedInfoList {
		grid-template-columns: 265px 107px 149px auto;
	}
	.planningInfoList {
		grid-template-columns: 230px 104px 130px auto;
	}
	.ratingWrapper {
		column-gap: 60px;
	}
}
