.container,
.customContainer {
	max-width: 320px;
	padding: 0 20px;
	margin: 0 auto;
}

.customContainer {
	padding: 0;
}

@media screen and (min-width: 768px) {
	.container,
	.customContainer {
		max-width: 768px;
		padding: 0 32px;
	}
}

@media screen and (min-width: 1280px) {
	.container {
		max-width: 1280px;
		padding: 0 16px;
	}
	.customContainer {
		max-width: 1300px;
		padding: 0 16px;
	}
}
