.container,
.authContainer,
.innerContainer,
.headerContainer,
.authHeaderContainer {
	max-width: 320px;
	padding: 0 20px;
	margin: 0 auto;
}

.authContainer {
	padding: 0;
}

.authHeaderContainer,
.headerContainer {
	width: 100%;
	display: flex;
	align-items: center;
}

.headerContainer {
	justify-content: space-between;
}

.authHeaderContainer {
	justify-content: center;
}

@media screen and (min-width: 768px) {
	.container,
	.innerContainer,
	.authContainer,
	.authHeaderContainer,
	.headerContainer {
		max-width: 768px;
		padding: 0 32px;
	}
	.authContainer {
		max-width: 832px;
	}
	.authHeaderContainer {
		justify-content: flex-start;
	}
}

@media screen and (min-width: 1280px) {
	.container,
	.statisticsPageContainer,
	.authHeaderContainer,
	.headerContainer {
		max-width: 1280px;
		padding: 0 16px;
	}
	.statisticsPageContainer {
		margin: 0 auto;
	}
	.innerContainer {
		max-width: 100%;
		padding: 0;
	}
	.authContainer {
		max-width: 1300px;
		padding: 0 16px;
	}
}
