.formWrapper {
	padding: 34px 20px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: linear-gradient(rgba(9, 30, 63, 0.8), rgba(9, 30, 63, 0.8)),
		url('/pic.jpg');
}

.form {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 280px;
	.fields {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}

	.googleButton {
		position: relative;
		font-family: 'Roboto', sans-serif;
		display: block;
		margin: 0 auto;
		min-width: 150px;
		height: 40px;
		font-weight: 700;
		font-size: 16px;
		line-height: 2.38;
		color: #707375;
		border: none;
		margin-bottom: 28px;
		box-shadow: 0 2px 2px 0 rgba(9, 30, 63, 0.15);
		background-color: #f5f7fa;
		&::before {
			position: absolute;
			content: url('/google-icon.svg');
			top: 50%;
			left: 14px;
			line-height: 0;
			transform: translateY(-50%);
		}
	}
	.submitButton {
		height: 60px;
		font-weight: 600;
		font-size: 16px;
		color: #fff;
		margin: 20px 0 16px 0;
		border: none;
		background-color: #ff6b08;
	}
	.registerLink {
		text-align: center;
		font-weight: 500;
		font-size: 13px;
		text-decoration: underline;
		color: #ff6b08;
	}
}

@media screen and (min-width: 768px) {
	.formWrapper {
		padding: 64px 20px;
		.form {
			max-width: 400px;
			padding: 40px;
			background-color: #fff;
			label {
				font-weight: 500;
				color: #898f9f;
			}
			.submitButton {
				margin: 32px 0 20px 0;
			}
		}
	}
}

@media screen and (min-width: 1280px) {
	.loginWrapper {
		display: grid;
		grid-template-columns: 549px 1fr;
	}
	.formWrapper {
		padding: 180px 0;
	}
}
