.formSection {
	padding: 80px 0;
}

.authSection {
	padding-top: 60px;
}

.readingGoalSection,
.goalSection {
	padding-bottom: 10px;
}

.planningListSection {
	padding: 10px 0 16px 0;
}

.chartSection {
	padding-top: 16px;
}

.timerSection {
	padding-bottom: 40px;
}

.resultsSection {
	padding-top: 32px;
}

@media screen and (min-width: 768px) {
	.formSection {
		padding: 0 0 20px 0;
	}
	.readingGoalSection {
		padding: 0 0 20px 0;
	}
	.trainingFormSection {
		padding: 20px 0;
	}
	.planningListSection {
		padding: 20px 0;
	}
	.timerSection {
		padding-bottom: 36px;
	}
	.goalSection {
		padding-bottom: 20px;
	}
	.resultsSection {
		padding-top: 40px;
	}
}

@media screen and (min-width: 1280px) {
	.formSection {
		padding-bottom: 64px;
	}
	.readingGoalSection {
		padding: 0;
	}
	.trainingFormSection {
		padding: 0 0 12px 0;
	}
	.planningListSection {
		padding: 12px 0 20px 0;
	}
	.timerSection {
		padding-bottom: 22px;
	}
}
