.sectionTitle {
	font-weight: 600;
	font-size: 19px;
	color: #242a37;
	margin-bottom: 20px;
}

.defaultBookList {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}

.planningBookList::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}

.planningBookList::-webkit-scrollbar-thumb {
	border-radius: 12px;
	background-color: #dadde1;
}

.planningBookList:-webkit-scrollbar-track {
	border-radius: 12px;
	background-color: transparent;
}

@media screen and (min-width: 768px) {
	.defaultBookList {
		row-gap: 8px;
	}

	.planningBookList {
		overflow-y: auto;
		max-height: 247px;
	}
}

@media screen and (min-width: 1280px) {
	.planningBookList {
		max-height: 171px;
		border-bottom: 1px solid #e0e5eb;
	}
}
