.registerGuideWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 92px 0 40px 0;
}

.registerTitle {
	font-family: 'Abril Fatface', sans-serif;
	font-weight: 400;
	font-size: 34px;
	line-height: 1.12;
	color: #242a37;
	margin-bottom: 32px;
}

.registerSectionList {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}

.authButtons {
	display: flex;
	column-gap: 20px;
	margin-top: 60px;
}

@media screen and (min-width: 768px) {
	.registerGuideWrapper {
		padding: 0;
		margin: 64px 0 88px 0;
	}
	.registerTitle {
		margin-bottom: 48px;
	}
	.authButtons {
		display: none;
	}
}

@media screen and (min-width: 1280px) {
	.registerGuideWrapper {
		justify-content: center;
	}
}
