.formSection {
	padding: 80px 0;
}

.authSection{
	padding-top: 60px;
}

.readingGoalSection{
	padding: 80px 0 16px 0;
}

.bookListSection{
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	padding: 80px 0 128px 0;
}

@media screen and (min-width: 768px) {
	.formSection {
		padding: 92px 0 20px 0;
	}
	.bookListSection{
		row-gap: 40px;
		padding-top: 20px;
	}
	.readingGoalSection{
		padding: 92px 0 20px 0;
    }
	.trainingFormSection{
		padding: 20px 0;
	}
}

@media screen and (min-width: 1280px) {
	.formSection {
		padding: 100px 0 64px 0;
	}
	.bookListSection{
		row-gap: 32px;
	}
	.readingGoalSection{
		padding: 0;
	}
	.trainingFormSection{
		padding: 0 0 12px 0;
	}
}
