.section {
	padding: 40px 0;
}

.formSection {
	position: relative;
	padding: 68px 0;
}

.bookSection {
	padding: 10px 0;
}

@media screen and (min-width: 768px) {
	.formSection {
		padding: 32px 0 20px 0;
	}
	.bookSection {
		padding: 20px 0;
	}
}

@media screen and (min-width: 1280px) {
	.formSection {
		padding: 40px 0 64px 0;
	}
	.bookSection {
		padding: 16px 0;
	}
}
