.formWrapper {
	padding: 32px 0 44px 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: linear-gradient(rgba(9, 30, 63, 0.8), rgba(9, 30, 63, 0.8)),
		image-set(
			url('/auth/auth-background-mobile@1x.jpg') 1x,
			url('/auth/auth-background-mobile@2x.jpg') 2x
		);
}

.form {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 280px;
}

.fields {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.loginText {
	text-align: center;
	font-weight: 500;
	font-size: 13px;
	color: #898f9f;
}

@media screen and (min-width: 768px) {
	.formWrapper {
		padding: 64px 0;
		background-image: linear-gradient(
				rgba(9, 30, 63, 0.8),
				rgba(9, 30, 63, 0.8)
			),
			image-set(
				url('/auth/auth-background-tablet@1x.jpg') 1x,
				url('/auth/auth-background-tablet@2x.jpg') 2x
			);
	}

	.form {
		max-width: 400px;
		padding: 40px;
		background-color: #fff;
	}
}

@media screen and (min-width: 1280px) {
	.registerWrapper {
		display: grid;
		grid-template-columns: 549px 1fr;
	}

	.formWrapper {
		padding: 90px 0;
		background-image: linear-gradient(
				rgba(9, 30, 63, 0.8),
				rgba(9, 30, 63, 0.8)
			),
			image-set(
				url('/auth/auth-background-desktop@1x.jpg') 1x,
				url('/auth/auth-background-desktop@2x.jpg') 2x
			);
	}
}
