.react-datepicker-wrapper {
	display: block;
}

.react-datepicker {
	padding: 8px;
	border-radius: 8px;
	border: none;
	background-color: #ffffff;
}

.react-datepicker__header {
	padding: 0;
	border: none;
	background-color: #ffffff;
}

.react-datepicker__navigation-icon::before {
	border-width: 1.5px 1.5px 0 0;
	border-color:#242a37;
	top: 0;
	height: 7px;
	width: 7px;
}

.react-datepicker__day-names {
	display: flex;
	justify-content: center;
	column-gap: 8px;
}

.react-datepicker__day-names .react-datepicker__day-name {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 21px;
	height: 16px;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: -0.02em;
	color: rgba(12, 13, 13, 0.5);
	margin: 0;
}

h2.react-datepicker__current-month{
	margin-bottom: 10px;
}

.react-datepicker__current-month {
	position: relative;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: -0.02em;
	color:#242a37;
}

.react-datepicker__day {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 24px;
	height: 24px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: -0.02em;
	color:#242a37;
	&:not([aria-disabled='true']):hover {
		border-radius: 50%;
		background-color: #d8dce9;
		transition: background-color 250ms linear;
	}
}

.react-datepicker__day--outside-month {
	color: rgba(12, 13, 13, 0.2);
}

.react-datepicker__day--selected {
	border-radius: 50%;
	width: 24px;
	height: 24px;
	color: #ffffff;
	background-color:#242a37;
	&:not([aria-disabled='true']):hover {
		background-color: #000000;
		transition: background-color 250ms linear;
	}
}

.react-datepicker__day--keyboard-selected {
	background-color: transparent;
}

.react-datepicker__triangle {
	display: none;
}
