.datePicker {
	width: 100%;
	height: 42px;
	padding-left: 41px;
	border: 1px solid #a6abb9;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: #a6abb9;
	background-color: transparent;
	transition: border 250ms linear;
	&::placeholder {
		font-weight: 500;
		font-size: 14px;
		letter-spacing: -0.02em;
		color: #a6abb9;
	}
	&:hover {
		border: 1px solid #797b81;
	}
	&:focus {
		outline: transparent;
		border: 1px solid #797b81;
	}
}

@media screen and (min-width: 768px) {
	.datePicker {
		max-width: 183px;
		padding: 0 45px 0 30px;
	}
}
