.goalHeader {
	padding: 18px 30px;
	box-shadow: 0 2px 3px 0 rgba(9, 30, 63, 0.1);
	background-color: #b1b5c2;
}

.title {
	font-weight: 600;
	font-size: 20px;
	color: #fff;
}

.countWrapper {
	padding: 44px 30px;
}

.defaultCountList,
.trainingCountList {
	display: flex;
	justify-content: center;
}

.defaultCountList {
	column-gap: 20px;
}

.trainingCountList li:nth-child(3) .trainingCounter {
	color: #ff6b08;
}

.defaultCountItem,
.trainingCountItem {
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 4px 4px 8px 0 rgba(36, 42, 55, 0.15);
	background: #f5f7fa;
}

.defaultCountItem {
	width: 100px;
	height: 100px;
	margin-bottom: 14px;
}

.trainingCountItem {
	width: 63px;
	height: 63px;
	margin-bottom: 8px;
}

.defaultCounter,
.trainingCounter {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #091e3f;
}

.defaultCounter {
	font-size: 45px;
	line-height: 0.84;
}

.trainingCounter {
	font-size: 35px;
	line-height: 1.09;
}

.trainingCountList {
	column-gap: 12px;
}

.defaultCounterDescription,
.trainingCounterDescription {
	display: block;
	font-weight: 500;
	color: #898f9f;
}

.defaultCounterDescription {
	font-size: 14px;
	text-align: left;
}

.trainingCounterDescription {
	font-size: 11px;
	text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
	.goalHeader {
		padding: 18px 28px;
		box-shadow: 0 2px 3px 0 rgba(9, 30, 63, 0.1);
		background-color: #b1b5c2;
	}
	.countWrapper {
		padding: 0;
	}
	.defaultCountList {
		column-gap: 40px;
	}
	.defaultCountItem,
	.trainingCountItem {
		height: 60px;
		margin-bottom: 4px;
	}
	.trainingCountItem {
		width: 100px;
	}
	.defaultCounter {
		font-size: 40px;
		line-height: 0.95;
	}
	.defaultCounterDescription {
		font-size: 11px;
	}
	.trainingCounterDescription {
		max-width: 100px;
	}
}

@media screen and (min-width: 1280px) {
	.defaultCounterDescription {
		text-align: center;
	}
	.trainingCountList {
		column-gap: 20px;
	}
}
